@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:300|Roboto+Mono');

html, body {
    margin: 0;
    padding: 0;
    display: block;
    font-family: 'Roboto Condensed', sans-serif;
}

h1 {
    font-size: 50px;
}

.hero {
    background-color: rgb(0, 0, 128);
    color: rgb(255, 255, 255);
    padding: 140px 0;
    text-align: center;
}

.container {
    width: 695px;
    margin: 0 auto 50px;
    position: relative;
}

.source {
    font-size: 60%;
    cursor: pointer;
    color: rgb(0, 0, 128);
}

.selected-element {
    margin: 20px 0;
}

.selected-element p {
    margin-bottom: 0;
}

.changed-element li {
    list-style: none;
}

li.L0, li.L1, li.L2, li.L3,
li.L5, li.L6, li.L7, li.L8 {
  list-style-type: decimal !important;
}

pre.prettyprint.linenums {
    display: none;
    font-family: 'Roboto Mono', monospace;
    /* height: 100px; */
    overflow: auto;
    border: 0;
    position: absolute;
    top: 45px;
    left: 0;
    right: 0;
    padding: 0;
    margin: 0;
}

pre.prettyprint.linenums.open {
    display: block;
}

pre.prettyprint.linenums ol {
    background-color: #efefef;
    padding: 2px 2px 2px 40px;
}

pre.prettyprint.linenums ol li {
    background-color: #fff;
    padding: 0 0 0 10px;
}

pre.prettyprint.linenums ol li:first-child {
    padding-top: 5px;
}

pre.prettyprint.linenums ol li:last-child {
    padding-bottom: 5px;
}
